body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.profile{
    padding: 30px;
}
h1 {
    margin: 50px auto 0 auto;  /*Top, right, bottom, left*/
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    /* width: 0 auto 0 auto; */
    /* top=0, */
    /* right left=auto */
}

h2 {
    font-family: 'Monteserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

a {
    color: #11999e;
}

.skill-row{
    width: 50%;
    margin: 70px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.python-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.javascript-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.ml-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* .python-skill-description{
    clear: left;
}

.ml-skill-description{
    clear: right;
}

.javascript-skill-description{
    clear: left;
} */
.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    /* top will be relative to top-container padding-top: 100px; */
}

.middle-container {
    padding-bottom: 80px;
    position: relative;
    
}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 20px;
    position: relative;
}

.footer-link {
    padding: 15px;
}
.copyright {
    color: #EAF6F6;
}



.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    /* bottom: 50px; */
}

.contact-me {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #00CDCD);
    background-image: -moz-linear-gradient(top, #66BFBF, #00CDCD);
    background-image: -ms-linear-gradient(top, #66BFBF, #00CDCD);
    background-image: -o-linear-gradient(top, #66BFBF, #00CDCD);
    background-image: linear-gradient(to bottom, #66BFBF, #00CDCD);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 0px;
    line-height: 0px;
    color: #FFFFFF;
    font-family: Arial;
    width: 110px;
    font-size: 16px;
    font-weight: 100;
    padding: 16px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #EAF6F6 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .contact-me:hover {
    border: solid #EAF6F6 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
 }
/* visibility: hidden (when you want to hide an element) */